
body{
  margin: 0 ;
  /* overflow: auto; */
  background-color: #ECECEC;
  /* background-color: #E5E0FF; */
  font-family: 'Montserrat', sans-serif;
}
body::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

/* main */

/* layout */
.layout{
  display: flex;
  flex-direction: column;
}

/* navbar */

.navbar{
  background-image: url("https://www.crossfit.com/wp-content/uploads/2021/07/14105156/GreenVegetables-istock-med-768x432.jpg");
  /* background-color: #FFB100; */
  /* border:3px solid black; */
  text-align: center; 
  position: absolute;
  border-radius: 0px 0px 15px 15px;
  background-repeat: no-repeat;
  background-size: cover;
  top:-200px;
  height: 400px;
  width:100%;
 
 
}



/* resturant name */

.title-bg{
  /* border:4px solid yeBFEAF5llow; */
  background-color: white;
  text-align:center;
  position: absolute;
  width:600px;
  height: 200px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 300px;
  border-radius: 20px;
  box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.5);
  padding-top: 70px;
 
}
.title-bg-type{
      margin-top:40px;
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      width:350px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
}
.title-bg-type-test{

    border-radius:5px;
    padding:10px;
    background-color: #ECECEC;
    font-size: 15px;

   
}
.resturant-name{
  /* border:4px solid black; */
  /* background-color: pink; */
  /* background-image: url("https://charatoon.com/photo/6341.png?20201026"); */
  /* background-image: url("https://charatoon.com/photo/thum/6342.png"); */
  box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.5);
  text-align:center;
  position: absolute;
  width:130px;
  height: 130px;
  left: 0; 
  right: 0;
  margin-left: auto; 
  margin-right: auto;
  /* margin: auto; */
  background-color:bisque;
  margin-top: 250px;
  border-radius: 67%;
  
}
.resturant-name-image{
  width:130px;
  height: 130px;
  border-radius: 67%;
}

/* container */
.container{
  /* border:10px solid orange; */
  display:flex;
  flex-direction: row;
  margin-top: 380px;
  padding:1%;
  
  /* left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width:90% */
}

/* sidebar and items */
.sidebar{
 
  /* flex: 12%; */
  flex: 72%;
  text-align: center;
  font-weight: bold;
  /* border: 3px solid green; */
  /* margin-top: 30px; */

  

}

.itemsList{
  /* display: block; */
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  /* width:200px;
  flex-shrink: 0; */
  /* flex-wrap: wrap; */
  text-align: end;
  /* background-color: yellow; */
  margin-left:-30px;
  width:100%;
  /* flex-shrink: 0; */
 
  
}

.item{
  /* display: block; */
  text-align: right;
  background-color: white;
  border: 0px solid black;
  border-radius: 20px;
  margin: 8px auto;
  padding:10px 10px;
}

.item:hover{
  background-color: orange;
}


/* menu conatiner */
.menu-conatiner{
  /* border:3px solid deeppink; */
  text-align:center;
  flex: 60%;
  width:70%;
  /* padding: 1%; */
  display: flex;
  /* display: grid; */
  flex-direction: column;
  
}

/* most popular */
.most-popular{
  /* border:4px solid deeppink; */
  /* width:20%; */
  /* width:"auto"; */
  /* left:0;
  right: 0;
  margin-left: auto; 
  margin-right: auto; */
  /* width:90%; */
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  padding:1%;
}
.head{
  /* border:3px solid olivedrab; */
  width:97%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  left: 0; 
  right: 0;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 10px;
}
.head-name{
  color: black;
  margin:0px;
  font-size: 35px;
  font-weight:bolder;
}
.view-btn{
 color: #423F3E;
 margin:0px;
 font-size: 25px;
 font-weight:lighter;
}
.list{
  /* border: 5px solid orange; */
  width:99%;
  height: 90%;
  left: 0; 
  right: 0;
  padding: 10px 0px;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 10px;
  overflow: auto;
}
.list::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

/* menu */
.menu{
  /* border:3px solid black; */
  width:97%;
  left:0;
  right: 0;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 20px;
  padding:1%;
  /* margin:10px 90px; */
  /* padding: 20px; */
  /* padding:2%; */
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}


/* category */
.category{
  /* border:1px solid black; */
  border-radius: 15px;
  background-color: white;
  left:0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /* padding: 30px; */
  /* width: 90%; */
  /* text-align: end; */
  margin: 0.8% 0%;
  /* background-color: pink; */
}
.card{
  border: 0px solid black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  /* border-radius: 10px; */
  /* padding: 5%; */
  margin: 0% 1.1%;
  display: grid;

}
/* .grid-items{
  border-bottom-style: dotted;
} */
.veg-nonveg{
  height: 30px;
  /* width: 30px; */
  display: block;
  padding: 0px 3px;
 
  /* float: left; */
  /* padding: 10px; */
}
.img-grid{
  height: 150px;
  width: 180px;
  border-radius: 25px 25px 0px 0px ;
  padding: 0;
}
.item-name{
  /* padding-bottom: 1px; */
  /* font-weight:bold; */
  text-align: start;
  padding-left: 8px;
  /* padding: 0; */
  margin: 0;
  /* padding: 1px 8px 10px 8px; */

}
.cardsList{
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;
  

}

.categories{
  border: 1px solid grey;
  width:500px;
  text-align:center;
}



.menu-card-image{
 
  /* padding: 15px 0px 0px 0px; */
  /* padding-top: 15px; */
  /* margin: auto; */
  width:130px;
  height: 130px;
  text-align: end;
  /* border-radius:50px; */


}

.menucard-image{

    width:35px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    /* margin-left:5px; */
    /* margin-right: 300px; */
    padding:6px;
    border-radius:10px;
    border:0px solid black

}
.menu-card-text{
  display: grid;
  width:100px;
  height: 130px;
 
  /* border: 1px solid green; */
  /* padding: 5px; */
}
.g{
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid red;

  width:90px;
  height: 30px;
  text-align: center;
}
.menu-card{
  
  /* background-color: yellow; */
  
  
  
}

.active{
  background-color: yellow;
  padding: 30px;
  margin: 10px;
}

.inactive{
  background-color: blue;
  padding: 30px;
  margin: 10px;
}
.menu-list{
  display: grid;
   background-color: #ECECEC;
  grid-template-columns: auto auto auto;
  width:430px;
  height: 180px;
  border-radius: 18px;
  margin: 30px  40px ;
  /* border:1px solid green; */
  /* margin:1px; */
 
  
}

.cart-list{
  /* border: 5px solid red; */
  background-color: #ECECEC;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 13px;
  border-radius: 18px;
  /* display: grid;
   background-color: #ECECEC;
  grid-template-columns: auto auto auto;
  width:250px;
  height: 150px;
  border-radius: 18px;
  text-align: center;
  margin: 30px  50px ;
  border:1px solid green; */
 
  
} 

.menu-items-container{
  /* border: 5px solid deeppink; */
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* column-gap: 50px; */
  /* width: 70%; */
  /* padding: 0px; */
  /* flex-grow: 1; */

  
  /* padding: 60px; */
  /* justify-content: center; */
  /* margin-right: 30px; */
  
 

  /* display: flex;
  flex-wrap: wrap; */
  /* grid-template-columns: auto auto; */
  /* padding: 30px 70px; */
  /* text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  column-gap: 70px;
  row-gap:30px;
  width:85%; */
}
.gr{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  grid-template-columns: auto auto;

  text-align: center;
  
  
}
.menucards-list{
  /* background-color: red; */
  /* border: 3px solid green; */
  display: flex;
  width: 99%;
  height: 400px;
  overflow: scroll;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /* display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  padding: 10px;
  text-align: center; */
  /* left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; */

  /* border: 3px solid red;
  width: 90%;
  height: 400px;
  overflow: scroll;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3; */



  /* padding: 10px; */
  /* display: grid;
  column-gap: 50px;
  row-gap:50px;
  grid-template-columns: auto auto; */
 
  
}

.sidebar-btn{
  /* border: 3px solid green */
  display: flex;
  flex-direction: column;

  flex:15%;
}
.menucards-list::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

/* cart */

.cart{
  /* flex: 28%; */
flex:20%;
  /* border: 3px solid black; */
  border-radius: 20px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
  /* height: 800px; */
  background-color: white;
  /* overflow: auto; */
  /* background-color: pink; */
}
/* .cart::-webkit-scrollbar { 
  width: 0;
  height: 0;
} */

/* .subcart{
  
} */
.change{
  flex:80%;
  /* border: 5px solid black; */
  margin-right: 10px;
   width:50%;
   height:auto;
   /* background-color:pink; */
   display:flex;
   flex-direction: row;
   text-align: center;
  font-weight: bold;
}
.total{
  width:70%
}
.trail-conatiner{
  border: 6px solid black;
  display: flex;
  width:450px;
  overflow: hidden;
  flex-direction: column;
  flex-shrink: 0;
}
.trail-flex{
  width:100%;
  font-size: 1.5rem;
  padding:1rem;
  text-align: center;
  overflow: auto;
}
/* .indhu{
  margin-left: 60px;
} */
/* media queries */

@media screen and (max-width: 680px) {
  .trail-conatiner{
    flex-direction: row;
    
  }
 .container{
  flex-direction: column;
  /* margin:"20px" */
 }

 .itemsList{
  width: 100%;
  flex-direction: row;
  overflow: auto;
  flex-shrink: 0;
  /* width:70% */

  
 }
 .sindhu{
  background-color: yellow;
 }

 .itemsList::-webkit-scrollbar { 
  width: 0;
  height: 0;
}
.item{
  margin:7px;

  /* background-color: pink; */
}
.title-bg{
  width:350px;
  height:200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 60px; */
}
.resturant-name{
  width:100px;
  height:100px;
  
}
.menu-conatiner{
  width:auto;
}
.head-name ,.view-btn{
  font-size: medium;
}
.title-bg-type{
  width: 300px;
}
.title-bg-type-test{

  border-radius:5px;
  padding:5px;

  font-size: 13px;

 
}
.menu-list{
  width:270px;
  margin: 30px  10px ;
}
.menu-card-image{
  width:100px;
  height: 100px;
}
.cart{
  /* background-color: blue; */
  margin-top: 15px;
  /* border: 10px solid deeppink; */
  border-radius:0px;
  
  /* padding: 0; */
  /* margin: 15px 0px; */
  /* background-color: aqua; */
}
/* .indhu{
  margin-left: 30px;
} */

.change{
  width:98%;
  margin: 0;
  /* border-color: blue; */
  /* width:"auto" */
  flex-direction: column;
}
.sidebar-btn{
  flex-direction: row;
}
.total{
  width:100%
}
}