
body{
  margin: 0 ;
  /* overflow: auto; */
  background-color: #ECECEC;
}
body::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

/* main */

/* layout */
.layout{
  display: flex;
  flex-direction: column;
}

/* navbar */

.navbar{
  background-image: url("https://www.crossfit.com/wp-content/uploads/2021/07/14105156/GreenVegetables-istock-med-768x432.jpg");
  /* background-color: #FFB100; */
  /* border:3px solid black; */
  text-align: center; 
  position: absolute;
  border-radius: 0px 0px 15px 15px;
  background-repeat: no-repeat;
  background-size: cover;
  top:-200px;
  height: 400px;
  width:100%;
 
 
}



/* resturant name */

.title-bg{
  /* border:4px solid yeBFEAF5llow; */
  background-color: white;
  text-align:center;
  position: absolute;
  width:600px;
  height: 200px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 300px;
  border-radius: 20px;
  box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.5);
  padding-top: 70px;
 
}
.title-bg-type{
      margin-top:40px;
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      width:350px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
}
.title-bg-type-test{

    border-radius:5px;
    padding:10px;
    background-color: #ECECEC;

   
}
.resturant-name{
  /* border:4px solid black; */
  /* background-color: pink; */
  /* background-image: url("https://charatoon.com/photo/6341.png?20201026"); */
  /* background-image: url("https://charatoon.com/photo/thum/6342.png"); */
  box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.5);
  text-align:center;
  position: absolute;
  width:130px;
  height: 130px;
  left: 0; 
  right: 0;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 250px;
  border-radius: 67%;
  
}
.resturant-name-image{
  width:130px;
  height: 130px;
  border-radius: 67%;
}

/* container */
.container{
  /* border:3px solid orange; */
  display:flex;
  flex-direction: row;
  margin-top: 380px;
  padding:1%;
  
  /* left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width:90% */
}

/* sidebar and items */
.sidebar{
 
  flex: 12%;
  text-align: center;
  font-weight: bold;
  /* margin-top: 30px; */

  

}

.itemsList{
  /* display: block; */
  display: flex;
  flex-direction: column;
  padding: 10px;
  
}

.item{
  display: block;
  background-color: white;
  border: 0px solid black;
  border-radius: 20px;
  margin: 15px auto;
  padding:10px 20px;
}

.item:hover{
  background-color: orange;
}


/* menu conatiner */
.menu-conatiner{
  /* border:3px solid green; */
  text-align:center;
  flex: 88%;
  width:70%;
  /* padding: 1%; */
  display: flex;
  flex-direction: column;
  
}

/* most popular */
.most-popular{
  /* border:4px solid deeppink; */
  width:97%;
  left:0;
  right: 0;
  margin-left: auto; 
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding:1%;
}
.head{
  /* border:3px solid olivedrab; */
  width:97%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  left: 0; 
  right: 0;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 10px;
}
.head-name{
  color: black;
  margin:0px;
  font-size: 35px;
  font-weight:bolder;
}
.view-btn{
 color: #423F3E;
 margin:0px;
 font-size: 25px;
 font-weight:lighter;
}
.list{
  /* border: 5px solid orange; */
  width:99%;
  height: 90%;
  left: 0; 
  right: 0;
  padding: 10px 0px;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 10px;
  overflow: auto;
}
.list::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

/* menu */
.menu{
  /* border:3px solid black; */
  width:97%;
  left:0;
  right: 0;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 20px;
  padding:1%;
  /* margin:10px 90px; */
  /* padding: 20px; */
  /* padding:2%; */
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}


/* category */
.category{
  /* border:1px solid black; */
  border-radius: 15px;
  background-color: white;
  left:0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  margin-top: 1%;
}
.card{
  border: 0px solid black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  /* border-radius: 10px; */
  /* padding: 5%; */
  margin: 0% 1.5%;
  display: grid;

}
/* .grid-items{
  border-bottom-style: dotted;
} */
.veg-nonveg{
  height: 30px;
  width: 30px;
  display: block;
  padding: 8px 8px;
  /* float: left; */
  /* padding: 10px; */
}
.img-grid{
  height: 170px;
  width: 200px;
  border-radius: 25px 25px 0px 0px ;
}
.item-name{
  padding-bottom: 30px;
  font-weight:bold;
  text-align: start;
  padding-left: 8px;
  /* padding: 1px 8px 10px 8px; */

}
.cardsList{
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;

}

.categories{
  border: 1px solid grey;
  width:500px;
  text-align:center;
}

.menu-card{
  /* border: 3px solid blue; */
  /* padding: 7%; */
  background-color: #ECECEC;
  border-radius:20px ;
  margin: 1%;
  width:500px;
  display: grid;
  grid-template-columns: auto auto auto;
  
  
}
.menu-text{
  text-align: left;
  padding-left: 25px;
}

.menu-grid-item-image{
 
  /* padding: 15px 0px 0px 0px; */
  padding-top: 15px;
  width:150px;
  height: 150px;
  text-align: end;


}
.menucards-list{
  /* border: 3px solid red; */
  width: 90%;
  height: 400px;
  overflow: scroll;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  
}

.menucards-list::-webkit-scrollbar { 
  width: 0;
  height: 0;
}
.menu-card-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* justify-content:space-evenly; */

}


/* media queries */

@media screen and (max-width: 680px) {
 .container{
  flex-direction: column;
 }

 .itemsList{
  flex-direction: row;
  overflow: auto;
 }

 .itemsList::-webkit-scrollbar { 
  width: 0;
  height: 0;
}
.item{
  margin:10px;
}
.title-bg{
  width:350px;
  height:200px;
  /* margin-top: 60px; */
}
.resturant-name{
  width:100px;
  height:100px;
}
.menu-conatiner{
  width:auto;
}
.head-name ,.view-btn{
  font-size: medium;
}
.title-bg-type{
  width: 300px;
}
}