body{
  margin: 0 ;
  background-color: #ECECEC;
  font-family: 'Montserrat', sans-serif;
}
body::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

/* home */
.home{
  background-color:#F3CCFF ;

}
/* home navbar */
.home-navbar{
  display: flex;
  justify-content: space-between;
}
.logo{
  padding: 20px; 
}
.navbar-text{
  margin:auto 0;
}
.nav-side-btn{
  width: 30px;
  position: relative;
  padding-right: 20px;
}
.nav-text-container{
  position:absolute;
  background-color:#F3CCFF ;
  right: 0;
  padding: 5px 30px 5px 8px;
  font-family: bold;
 
}
.text-container{
display:flex;
width:600px;
font-size: 20px;
}
.text{
  padding: 8px 0px;
  font-weight: bold;
}
.nav-text{
  margin: auto;
}
/* content */
.content{
  display: flex;
  flex-direction: column;
}
.home-content{
  border:0px solid black;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
 
}
.box1{
    margin: auto 0;
    padding: 10px;
}
.box1-text{
 font-weight: bold;
 font-size: 20px;
}
.btn{
  background-color: #F2CD6C;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
}
.content-bg{
  background-color: #413F42;
 width:100%;
 margin:150px 0px;
 display:flex;
  flex-direction: row;
  justify-content: space-around;
  height:200px
}
.adaptable-img{
 border:0px solid yellow;
margin-top: -140px;
width: 450px;
}
.box1-img{
  background-color: #FFE9A0;
  border-radius: 100%;
  padding: 10px;
  margin: auto;
  padding-bottom: 50px;
}

.box2{
  color: white;
  font-size: 40px;
  padding: 30px
}
.box2-text{
  background-color: #F7CD5F;
  display: inline;
}
.box2-text{
  margin:5px
}
.text-center{
  text-align: center;
}
.contact-img-{
  width:500px;

}
.box3{
  margin: auto 0;
  text-align: start;
  
}
.box3-text{
  font-weight: bold;
  font-size: 20px;
  padding-top: 30px;
}
.box4{
  padding: 3%;
  background-color: #D8CCA3;
}
.box4-text{
  margin: auto 0;
  text-align: end;
}


/* Resturant  layout  */


/* layout */

.layout{
  display: flex;
  flex-direction: column;
}

/* navbar */

.navbar{
  background-image: url("https://www.crossfit.com/wp-content/uploads/2021/07/14105156/GreenVegetables-istock-med-768x432.jpg");
  text-align: center; 
  position: absolute;
  border-radius: 0px 0px 15px 15px;
  background-repeat: no-repeat;
  background-size: cover;
  top:-200px;
  height: 400px;
  width:100%;
}

/* resturant name */

.title-bg{
  background-color: white;
  text-align:center;
  position: absolute;
  width:600px;
  height: 200px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 300px;
  border-radius: 20px;
  box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.5);
  padding-top: 70px;
 
}

.map-image{
  width:30px;
  height:30px; 
  margin:-8px 15px
}
.title-bg-type{
      margin-top:40px;
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      width:350px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
}
.title-bg-type-test{

    border-radius:5px;
    padding:10px;
    background-color: #ECECEC;
    font-size: 15px;

   
}
.resturant-name{

  box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.5);
  text-align:center;
  position: absolute;
  width:130px;
  height: 130px;
  left: 0; 
  right: 0;
  margin-left: auto; 
  margin-right: auto;
  /* margin: auto; */
  background-color:black;
  margin-top: 250px;
  border-radius: 67%;
  
}
.resturant-name-image{
  width:130px;
  height: 130px;
  border-radius: 67%;
}

/* container */
.container{
  display:flex;
  flex-direction: row;
  margin-top: 380px;
  padding:1%;
}
/* menu conatiner */

.change{
  flex:80%;
  margin-right: 10px;
   width:50%;
   height:auto;
   display:flex;
   flex-direction: row;
   text-align: center;
  font-weight: bold;
}
.itemsList{
  display: flex;
  flex-direction: column;
  text-align: end;
  margin-left:-30px;
  width:100%; 
}
.item{

  text-align: right;
  background-color: white;
  border: 0px solid black;
  border-radius: 20px;
  margin: 8px auto;
  padding:10px 10px;
}

.item:hover{
  background-color: orange;
}

.total{
    width:70%;
    height:auto;
    flex:85%;
     display:row
}
.some{
  width:97%;
  padding:0px 10px
}
.head{
  width:97%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  left: 0; 
  right: 0;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 10px;
}
.menu-head{
  padding: 20px 0px;
}
.head-name{
  color: black;
  margin:0px;
  font-size: 35px;
  font-weight:bolder;
}

.some2{
  width:97%;
  margin:0px auto;
  left:0;
  right:0;
  padding-top: 5px;
}

/* most popular */

.most-popular{
  display: flex;
  flex-direction: column;
  padding:1%;
}
.list{
  width:99%;
  height: 90%;
  left: 0; 
  right: 0;
  padding: 2% 0%;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 10px;
  overflow: auto;
 
}
.list::-webkit-scrollbar { 
  width: 0;
  height: 0;
}


.cardsList{
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap;
}

.card{
  border: 0px solid black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  margin: 0% 1.1%;
  display: grid;
  cursor: pointer;
}

.img-grid{
  height: 150px;
  width: 180px;
  border-radius: 25px 25px 0px 0px ;
  padding: 0;
}
.item-name{
  font-weight: bold;
  text-align: start;
  padding-left: 8px;
  height: 40px;
  margin: 0;
  padding: 3px 0px 10px 8px;
}

.card-bottom{
  display: flex; 
}

.card-price{
  font-weight: bold;
  padding-left: 8px;
  margin-top: -10px;
}
.card-image{
  width:110px;
  text-align: end;
}
.card-image-bag{
  width: 26px;
  background-color: #FFC93C;
  padding: 3px;
  border-radius: 35%;
  margin-top: -10px;
 
}


/* category */ 

.category{
  border-radius: 15px;
  background-color: white;
  left:0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin:20px 0px;

}

.sub-cat{
  display:flex;
  justify-content: space-between;
  padding:8px;
  cursor:pointer
}

.cat-name{
  text-align: start;
  padding: 5px 10px;
  margin:0px
}
.bag-img{
  width: 30px;
  height: 30px;
  padding: 0px 0px;
}

.menucards-list{
  display: flex;
  width: 99%;
  height: 400px;
  overflow: scroll;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
 
}
.menucards-list::-webkit-scrollbar { 
  width: 0;
  height: 0;
}
/* menu cards */
.menu-items-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.menu-list{
  display: grid;
   background-color: #ECECEC;
  grid-template-columns: auto auto auto;
  width:430px;
  height: 200px;
  border-radius: 18px;
  margin: 20px ;
}

.menu-card{
  font-size: 15px;
  text-align: start;
 }
 .veg-nonveg{
  height: 30px;
  display: block;
  padding: 5px 8px;
}
.menu-card-name{
  margin:3px 0px;
  font-weight: bold;
  padding:0px 20px
}

.menu-card-des{
  font-weight: normal;
}
.menu-price{
  margin: 20px 0px;
  padding: 0px 20px;
}
.menu-image{
  padding: 0;
  margin: auto;
}
.menu-card-image{
  width:130px;
  height: 130px;
  text-align: end;
}

.menucard-image{
  width:35px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
   padding:6px;
  border-radius:10px;
  border:0px solid black

}
/* cart */
.cart{
  flex:20%;
  border-radius: 20px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
  background-color: white;
  margin-top: 20px;
}
.nope{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart-text{
  font-weight: bold;
}
.cart-price{
  margin: 0px;
  font-size: 22px;
  color:#434242
}
.cart-button{
font-size:20px ;
border-radius:30px ;
margin: 10px;
font-weight: bold;
color:white;
background-color:#FFC93C ;
border:none;
padding: 10px 40px;   
}
.cart-bottom{
  background-color: white;
  width:100%;
  margin:0;
  position: absolute;
  bottom: 0px;
  height: 600px;
  overflow: auto;
}
.back{
  width: 30px;
  padding: 15px 10px;
}


/* sub cart */
.sub-cart{
  border-radius:20px 20px 0px 0px ;
}
.sub-cart-conatiner{
  padding:18px 0px 0px 18px ;
  
}
.sub-cart-image{
  width:30px;
  height: 30px;
}
.sub-cart-text{
  padding-left: 5px;
  display: inline;
}
.empty{ 
  padding:15px 25px;               
}
.cart-cards{   
    padding:18px                 
}
.cart-list{
  background-color: #ECECEC;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 13px;
  border-radius: 18px;  
} 
.sub-cart-menu-text{
  padding:0px 5px 15px 20px;
}
.total-price{
  padding: 50px 18px 0px 0px;
}

.quantity{
  text-align: center;
  background-color:#FFC93C ;
  margin-right:-10px ;
  border-radius: 5px;
  padding: 6px;
}
.quantity-btn{
  border: none;
  font-size: 20px;
  background-color: #FFC93C;
}
.payment{
  margin-top: 40px; 
}
.payment-text{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.payment-btn{
  width:270px;
  text-align: center;
  padding: 10px 7px;
  background-color: #FFC93C;
  border-radius: 30px;
  border: none;
}



@media screen and (max-width: 680px) {
  .trail-conatiner{
    flex-direction: row;
    
  }
 .container{
  flex-direction: column;
  /* margin:"20px" */
 }

 .itemsList{
  width: 100%;
  flex-direction: row;
  overflow: auto;
  flex-shrink: 0;
  margin-left:0px;
  /* width:70% */

  
 }
 .sindhu{
  background-color: yellow;
 }

 .itemsList::-webkit-scrollbar { 
  width: 0;
  height: 0;
}
.item{
  margin:7px;

  /* background-color: pink; */
}
.title-bg{
  width:350px;
  height:200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 60px; */
}

.menu-conatiner{
  width:auto;
}
.head-name ,.view-btn{
  font-size: medium;
}
.title-bg-type{
  width: 300px;
}
.title-bg-type-test{

  border-radius:5px;
  padding:5px;
  font-size: 13px;
}
.menu-card{
  font-size: 12px;
}
.menu-list{
  width:270px;
  margin: 30px  10px ;
}
.menu-card-image{
  width:100px;
  height: 100px;
}
.cart{
  /* background-color: blue; */
  /* margin-top: 15px; */
  /* border: 10px solid deeppink; */
  border-radius:0px;
  position: fixed;
  bottom: 0;
  width:100%;
  /* overflow: none; */
  /* padding: 0; */
  /* margin: 15px 0px; */
  /* background-color: aqua; */
}
/* .indhu{
  margin-left: 30px;
} */

.change{
  width:98%;
  margin: 0;
  /* border-color: blue; */
  /* width:"auto" */
  flex-direction: column;
}
.sidebar-btn{
  flex-direction: row;
}
.total{
  width:100%
}
.home-content{
  flex-direction: column;
}
.content-bg{
 margin:0px 0px;
height: auto;
  flex-direction: column;
  justify-content: space-between;
}
.adaptable-img{
  /* border: 5px solid white; */
  /* left:0;
  right: 0;
  margin-left: auto;
  margin-right: auto; */
  
  width: 100%;
  margin: 0px ;
}
.contact-img{
  width:300px;
}

}